ninja_required_version = 1.7
builddir = meta

rule self
  description = generate build definitions
  command = ./configure --quiet
  generator = true

rule txt2slin
    command = meta/.venv/bin/gtts-cli --lang en -f $in | sox -t mp3 - -t raw -r 8000 -c 1 $out

build | build.ninja: self | meta/build.ninja.j2 meta/jinja2_render.py meta/Pipfile configure

## for f in inner_glob('phrases/*.txt')
build sounds/phrases/{{ f }}.slin: txt2slin phrases/{{ f }}.txt
## endfor

# vi: set syntax=ninja ts=2 sts=2 sw=2 et:
